<h1>
    Dados do contrato
</h1>
<form method="post">
  Nome completo A: <input name="nomea" value="GUSTAVO DI DOMENICO" oninput="this.value = this.value.toUpperCase()"/>
  <br/><br/>
  Naturalidade A: <input name="natua" value="BRASILEIRO" oninput="this.value = this.value.toUpperCase()"/>
  <br/><br/>
  Profissão A: <input name="profia" value="GERENTE" oninput="this.value = this.value.toUpperCase()"/>
  <br/><br/>
  <hr />
  Nome completo B: <input name="nomeb" value="MELINA DERALDO" oninput="this.value = this.value.toUpperCase()"/>
  <br/><br/>
  Naturalidade B: <input name="natub" value="BRASILEIRA" oninput="this.value = this.value.toUpperCase()"/>
  <br/><br/>
  Profissão B: <input name="profib" value="DIRETORA" oninput="this.value = this.value.toUpperCase()"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>